<%- include('partials/header'); %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class ="ui main text container segment">
    <div class ="ui huge header"><%= blog[0].title %></div>
    <div class="ui top attached ">
        <div class="item">
             <img class="ui centered rounded image" src ="<%= blog[0].image %>" >
             <div class="content">
                  <span><%= blog[0].created.toDateString() %></span>
             </div>
             <div class="description">
                  <p><%- blog[0].body %></p>
             </div>
             <a class="ui orange basic button" href="/blogs/<%= blog[0].id %>/edit">EDIT</a>
             <form  id="delete" action="/blogs/<%= blog[0].id %>?_method=DELETE" method="POST">
                 <button class="ui red basic button">DELETE</button>
             </form>
      
         </div>
    </div>
</div
 
<%- include('partials/footer'); %>

